@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Outfit:wght@500;700;900&family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg text-black font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-black uppercase tracking-tight;
  }
}

@layer components {

  /* Neo-brutalism Utilities */
  .neo-box {
    @apply border-2 border-black shadow-neo bg-paper;
  }

  .neo-input {
    @apply w-full px-4 py-3 bg-white border-2 border-black shadow-neo-sm focus:outline-none focus:shadow-neo transition-all duration-200 placeholder-slate-500 font-medium;
  }

  .neo-btn {
    @apply px-6 py-3 font-bold border-2 border-black shadow-neo transition-all duration-200 active:translate-x-[2px] active:translate-y-[2px] active:shadow-neo-hover;
  }

  .neo-card {
    @apply border-2 border-black shadow-neo bg-white p-6;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}